<app-header [user]="user"></app-header>

<div class="container">
  <div *ngIf="scan">
    <h2 class="mt-5">Summary</h2>
    <p>Type of scan: {{ scan.name }}</p>
    <p>Scan started: {{ scan.dateStarted | date:'EEE MMM dd HH:mm:ss YYYY OO' }}</p>
    <p>Scan ended: {{ scan.datCompleted | date:'EEE MMM dd HH:mm:ss YYYY OO' }}</p>
    <p>
      Status: <span [class.text-success]="scan.status === 'completed'">{{ scan.status }}</span>
    </p>
    <p>
      Scanners:
      {{ scan.scanners }}
    </p>
  </div>

  <hr />

  <div class="row" *ngIf="scan">
    <div class="col-12 col-sm-6 col-lg-3 mt-3">
      <div class="card text-white bg-danger">
        <div class="card-header text-center">Critical</div>
        <div class="card-body">
          <p class="card-text text-center">{{ scan.severityCounts.critical }}</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mt-3">
      <div class="card text-white bg-danger">
        <div class="card-header text-center">High</div>
        <div class="card-body">
          <p class="card-text text-center">{{ scan.severityCounts.high }}</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mt-3">
      <div class="card text-white bg-warning">
        <div class="card-header text-center">Medium</div>
        <div class="card-body">
          <p class="card-text text-center">{{ scan.severityCounts.medium }}</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mt-3">
      <div class="card text-white bg-info">
        <div class="card-header text-center">Low</div>
        <div class="card-body">
          <p class="card-text text-center">{{ scan.severityCounts.low }}</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 mt-3">
      <div class="card text-white bg-success">
        <div class="card-header text-center">Information</div>
        <div class="card-body">
          <p class="card-text text-center">{{ scan.severityCounts.information }}</p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5 mb-4">Vulnerabilities</h2>

  <div class="row mb-5" *ngIf="scan">
    <div class="col-12">
      <vulnerability
        *ngFor="let vulnerability of scan.vulnerabilities"
        [vulnerability]="vulnerability"
        [assets]="scan.assets"
      ></vulnerability>
    </div>
  </div>
</div>
